// Body
//
// Settings for the `<body>` element.
// $body-bg:                    #ececeb;
$body-color:                 #1b1f22;

$enable-rounded: false;

$nav-link-padding: 1em 1.5em;

$font-family-base: 'play', sans-serif;
