// Navigation

.nav {

  ul {
    display: table;
    table-layout: fixed;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    border: solid 1px #fff;
    // border-radius: 4px;
  }

  li {
    display: table-cell;


    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ li {
        width: 50%;
    }

    &:first-child:nth-last-child(3),
    &:first-child:nth-last-child(3) ~ li {
        width: 33.3333%;
    }

    &:first-child:nth-last-child(4),
    &:first-child:nth-last-child(4) ~ li {
        width: 25%;
    }

    &:not(:first-child) {
      border-left: solid 1px #fff;
    }
  }

  .nav-link {
    font-size: .875rem;
    letter-spacing: .1em
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    transition: background-color .15s ease-in-out;

    &:hover {
      background-color: rgba(#fff, .075);
    }

    &:active {
      background-color: rgba(#fff, .175);
    }
  }
}
