html {
    font-size: 16px;
}

.shell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 1rem;
    z-index: 3;

    // Helps positioning the content in the middle (3 items instead 2)
    &::before {
        content: '';
        display: block;
    }

    @include media-breakpoint-up(sm) {
        padding: 1.5rem;
    }
    @include media-breakpoint-up(md) {
        padding: 2rem;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    text-align: center;
    color: #fff;
    background-image: radial-gradient(rgba(0, 0, 0, 0.25) 25%, transparent 55%);
    transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out, opacity 0.325s ease-in-out;

// Vertical line
> * {
    $spacing-sm: 1.5rem;
    $spacing-lg: 3.5rem;

    position: relative;
    transition: opacity 0.325s ease-in-out;

    &:not(:first-child) {
        margin-top: $spacing-sm;

        @include media-breakpoint-up(md) {
            margin-top: $spacing-lg;
        }
    }

    &:not(:first-child):before {
        position: absolute;
        top: calc(-#{$spacing-sm} - 1px);
        left: calc(50% - 1px);
        content: '';
        width: 1px;
        height: calc(#{$spacing-sm} + 1px);
        background-color: #fff;

        @include media-breakpoint-up(md) {
            top: calc(-#{$spacing-lg} - 1px);
            height: calc(#{$spacing-lg} + 1px);
        }
    }
}

.intro-content {
    max-width: 52rem;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #fff;
}

.intro-content-inner {
    padding: 1.5rem 1rem;
    max-height: 40rem;
    overflow: hidden;
    transition: max-height 0.75s ease, padding 0.75s ease, opacity 0.325s ease-in-out;
    transition-delay: 0.25s;

    @include media-breakpoint-up(sm) {
        padding: 2rem;
    }
    @include media-breakpoint-up(md) {
        padding: 3rem 2rem;
    }
}

h1 {
    margin-bottom: 1.15rem;
    font-family: 'yanone', sans-serif;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: .1em;

    @include media-breakpoint-up(sm) {
        font-size: 2.3rem;
    }
    @include media-breakpoint-up(md) {
        font-size: 2.75rem;
    }
}

p {
    font-size: 1.15rem;

    &:last-child {
        margin-bottom: 0;
    }
}
}

body.is-loading .header {
    filter: blur(0.125rem);
}
body.is-loading .header > *,
body.is-loading footer {
    opacity: 0;
}

body.is-loading .header .intro-content .intro-content-inner {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    animation: none !important;
    transition: none !important;
    transition-delay: none !important;
}
